
.blog {
    padding: 96px 0px;
}
.blog__container {
}
.__container {
}
.blog__label {
    margin-bottom: 25px;
}
.label {
}
.label__link {
}
.blog__top {
    margin-bottom: 74px;
    display: flex;
    justify-content: space-between;
}
.blog__body {
}
.blog__title {
    max-width: 392px;
}
.blog__title:not(:last-child) {
    margin-bottom: 12px;
}
.title {
}
.blog__text {
    max-width: 740px;
}
.text {
}
.blog__button {
    align-self: flex-end;
}
.button {
}
.button__link {
}
/* --------------------------------------------------- */
.blog__items {
    display: flex;
    flex: 1 1 33.333%;
    column-gap: 48px;
}
.blog__item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: rgba(129, 129, 139, 0.1);
    border-radius: 24px;
}
.blog__item:hover .news-image__image {
    scale: 1.05;
}
.item-blog {
}
.item-blog__news {
    position: relative;
}
.news-image {
}
.news-image__link {
    /* max-width: 394px;
    max-height: 194px; */
    position: relative;
    padding-bottom: 49.238579%; /* 194/394 */
    display: block;
}
.news-image__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
    
    
}
.item-blog__content {
    display: flex;
    flex-direction: column;
    padding: 26px 26px 50px;
    flex: 1 1 auto;
}
.news-image__label {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    line-height: 22px;
    z-index: 3;
    padding: 10px;
    color: #FFFFFF;
    background: rgba(129, 129, 139, 0.5);
    border-radius: 0px 10px 0px 0px;
    transition: all 0.3s;
}
.news-image__label:hover {
    color: #14aa28;
}

.item-blog__data {
    color: rgba(129, 129, 139, 0.9);
}
.item-blog__data:not(:last-child) {
    margin-bottom: 25px;
}
.item-blog__title {
    max-width: 340px;

}
.item-blog__title:hover {
    text-decoration: underline;
}
.item-blog__link-title {
    font-weight: 400;
    font-size: 19.2px;
    line-height: 27px;
    color: #FFFFFF;
    
}
.item-blog__title:not(:last-child) {
    margin-bottom: 30px;
}
.item-blog__text {
    flex: 1 1 auto;
    max-width: 340px;
    font-size: 16px;
    line-height: 24px;
}
.item-blog__text:not(:last-child) {
    margin-bottom: 21px;
}
.item-blog__link {
    font-size: 14px;
    line-height: 22px;
    color: #3D96F4;
    transition: all 0.3s;
}
.item-blog__link:hover {
    color: #14aa28;
}