.footer {
}
.footer__container {
}
.__container {
}
.footer__top {
    padding: 160px 0px;
}
.footer__items {
    display: flex;
    column-gap: 64px;
}
.column-content {
    flex: 1 1 auto;
}
.footer__column {
}
.footer__logo {
}
.footer__logo:not(:last-child) {
    margin-bottom: 32px;
}
.logo {
}
.logo__link {
}
.logo__image {
}
.footer__text {
    max-width: 347px;
}
.footer__text:not(:last-child) {
    margin-bottom: 33px;
}
.footer__social {
}
.social-futer {
}
.social-futer__list {
    display: flex;
}
.social-futer__item:not(:last-child) {
    margin-right:  16px;
}
.social-futer__item {
}
.social-futer__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    flex: 0 0 36px;
    height: 36px;
    border: 1px solid rgba(129, 129, 139, 0.9);
    border-radius: 50%;
    transition: all .3s;
}
.social-futer__link:hover {
    transform: scale(1.1);
    border: 1px solid #13b61b;
}
.social-futer__icon {
    max-width: 100%;
}
.footer__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.footer__title:not(:last-child) {
    margin-bottom: 30px;
}
.footer__list {
}
.menu-footer {
}
.menu-footer__item {
}
.menu-footer__item:not(:last-child) {
    margin-bottom: 24.39px;
}
.menu-footer__link {
    font-size: 16px;
    line-height: 1.62; /* 26/16 */
    color: #9C9C9C;
    transition: all .3s;
}
.menu-footer__link:hover {
    color: #13b61b;
    text-decoration: underline;
}
.subscribe__form {
    display: flex;
    align-items: center;
    column-gap: 49px;
}
.subscribe__input {
    max-width: 192px;
    padding: 15px 31px;
    background-color: #0D0D11;
    border-radius: 50px;
    color: #FFFFFF;
    border: 1px solid rgba(129, 129, 139, 0.3);
}
.subscribe__input:focus {
    border: 1px solid rgba(15, 207, 41, 0.3);
}
.subscribe__input::placeholder {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}
.subscribe__button {
    color: #FFFFFF;
}
.button {
}
.footer__bottom {
    position: relative;
    padding: 45px 0px;
}
.footer__bottom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(129, 129, 139, 0.2);
    
}

.footer__copywriting {
}
.copywriting {
    display: flex;
    align-items: center;
    justify-content: center;
}
.copywriting__text {
    font-size: 14px;
    line-height: 1.57; /* 22/14 */
}