
.marketing {
    padding: 91px 0px 96px 0px;
}

.marketing__body {
    display: flex;
    column-gap: 64px;
    align-items: center;
    justify-content: space-between;
}
.marketing__items {
    position: relative;
    flex: 0 1 50%;
    display: flex;
    
}
.marketing__items::before {
    content: '';
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: -12.69px;
    height: 122px;
    width: 122px;
    background: url('../img/main/solution/decor.svg') no-repeat 0 0;
}
.marketing__picture {
    overflow: hidden;
    border-radius: 652px 0px 378px 378px
}
.marketing__avatar {
    overflow: hidden;
    border-radius: 50%  50%  50% 0px;
    align-self: flex-end;
}

.marketing__picture img {
    max-width: 100%;
}
.marketing__content {
    flex: 0 1 50%;
}
.marketing__label {
}
.marketing__label:not(:last-child) {
    margin-bottom: 43px;
}
.label {
}
.label__link {
}
.marketing__title {
    max-width: 560px;
}
.title {
}
.marketing__title:not(:last-child) {
    margin-bottom: 40px;
}
.marketing__text {
    max-width: 495px;
}
.text {
}
.marketing__text:not(:last-child) {
    margin-bottom: 35px;
}
.marketing__list {
}
.list {
}
.list__item:not(:last-child) {
    margin-bottom: 16px;
}
.list__item {
    padding-left: 42px;
    position: relative;
}
.list__item::before {
    content: '';
    top: -3px;
    left: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    padding-left: 42px;
    background: url('../img/main/marketing/icon.svg') 0 center no-repeat;
    
}