.quantity {
    padding: 96px 0px;
}
.quantity__container {
}
.quantity__row {
    display: flex;
    column-gap: 32px;
    justify-content: space-between;

}
.quantity__content {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 32px;
    gap: 32px;
}
.quantity__item {
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
    padding: 40px;
}
.quantity__value {
    font-weight: 500;
    font-size: 51.2px;
    line-height: 61px;
    color: #FFFFFF;
}
.quantity__value:not(:last-child) {
    margin-bottom: 32px;
}
.quantity__text {
    font-size: 18px;
    line-height: 1.50; /* 27/18 */
}
.quantity__image {
    flex: 0 0 39.0625%; /* 500/1280 */

    border-radius: 0 50% 50% 50%;
    overflow: hidden;
}
.quantity__picture {
    max-width: 100%;
}