@import url('./reset.css');
@import url('./solutions.css');
@import url('./header.css');
@import url('./brends.css');
@import url('./services.css');
@import url('./marketing.css');
@import url('./quantity.css');
@import url('./reviews.css');
@import url('./blog.css');
@import url('./scaling.css');
@import url('./footer.css');
body {
    background-color: #0D0D11;
    color: #9C9C9C;
    line-height: 150%;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.header {
}
.main {
    flex: 1 1 auto;
}
.footer {
}

/* [class*=__container] {
    max-width: 1310px;
    padding: 0px 15px;
    margin: 0px auto;
}  */
.__container {
    max-width: 1310px;
    padding: 0px 15px;
    margin: 0px auto;
}


/* --------------------------------------------------------------------------- */
/* .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;

    width: 160px;
    background-color: #3D96F4;
    border-radius: 50px;
} */

.button {
    display: inline-block;
    text-align: center;
    padding: 14px 30px;
    background: #3D96F4;
    border-radius: 50px;
    transition:  background-color 0.3s ease 0s;
}
.button:hover {
    background-color: #13b61b ;
    cursor: pointer;
}
@media (max-width: 991.98px) {
    .button {
       padding: 14px 20px;
    }
}
@media (max-width: 560px) {
    .button {
        padding: 14px 15px;
    }
    .button__link {
        letter-spacing: 1px;
    }
}
.button_dark {
    background: rgba(129, 129, 139, 0.2);
}
.button__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF; 
}
.button__grey {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50; /* 24/16 */
    color: #999999;
}
.title {
    font-weight: 500;
    font-size: 51.2px;
    line-height: 119%;
    color: #FFFFFF;
}
/* --------------------------------------- */


